$color-primary-dark: #28b485;
$color-primary: #55c57a;
$color-primary-light: hsl(111, 55%, 64%);

$color-grey-dark: #777;
$color-gray-light: #f7f7f7;

$color-white: #fff;
$color-black: #000;

$grid-max-width: 114rem;
$grid-margin-bottom: 4rem;
$grid-gutter: 8rem;