.row {
	max-width: $grid-max-width;
	background-color: #ddd;
	margin: 0 auto;
	color: $color-black;

	&:not(:last-child) {
		//top: 0, left-right: auto centered, margin-bottom: 40px;
		margin-bottom: $grid-margin-bottom;
	}

  // ^ = starts with, * = contains, $ = ends with; 
	[class^='col-'] {
		float: left;
		background-color: #ff7777;

		&:not(:last-child) {
			margin-right: $grid-gutter;
		}
	}

	@include clearfix;

	.col-1-of-2,
	.col-2-of-4 {
		width: calc((100% - #{$grid-gutter}) / 2);
	}

	.col-1-of-3 {
		width: calc((100% - #{$grid-gutter} * 2) / 3);
	}

	.col-1-of-4 {
		width: calc((100% - #{$grid-gutter} * 3) / 4);
	}

	.col-3-of-4 {
	width: calc(((100% - #{$grid-gutter}) - calc((100% - #{$grid-gutter} * 3) / 4)));
	}

	.col-2-of-3 {
		width: calc((100% - #{$grid-gutter}) - calc((100% - #{$grid-gutter} * 2) / 3));
	}
}



  // <!-- <section class="grid-test">
		// 	<div class="row">
		// 		<div class="col-1-of-2">col-1-of-2</div>
		// 		<div class="col-1-of-2">col-1-of-2</div>
		// 	</div>

		// 	<div class="row">
		// 		<div class="col-1-of-3">col-1-of-3</div>
		// 		<div class="col-1-of-3">col-1-of-3</div>
		// 		<div class="col-1-of-3">col-1-of-3</div>
		// 	</divt>
			
		// 	<div class="row">
		// 		<div class="col-1-of-3">col-1-of-3</div>
		// 		<div class="col-2-of-3">col-2-of-3</div>
		// 	</div>

		// 	<div class="row">
		// 		<div class="col-1-of-4">col-1-of-4</div>
		// 		<div class="col-1-of-4">col-1-of-4</div>
		// 		<div class="col-1-of-4">col-1-of-4</div>
		// 		<div class="col-1-of-4">col-1-of-4</div>
		// 	</div>

		// 	<div class="row">
		// 		<div class="col-1-of-4">col-1-of-4</div>
		// 		<div class="col-1-of-4">col-1-of-4</div>
		// 		<div class="col-2-of-4">col-2-of-4</div>
		// 	</div>

		// 	<div class="row">
		// 		<div class="col-1-of-4">col-1-of-4</div>
		// 		<div class="col-3-of-4">col-3-of-4</div>
		// 	</div>
		// </section> -->