.header {
	position: relative;
	height: 75vh;
	background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../../img/hero-small.jpg);
	background-size: cover;
	background-position: top;

	@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
		height: 95vh;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	}

	// comma: "or", either (min-resolution: 192dpi) and (min-width: 600px), or (min-width: 2000px)
	// media queries always in EMs
	@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em), (-webkit-min-device-pixel-ratio: 2) {
		background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../../img/hero.jpg);
	}

	@include respond(tablet-v) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
		clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
	}
	@include respond(phone) {
		clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 70vh);
		height: 75vh;
	}

	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}

	&__text-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-60%);
		text-align: center;
	}
}
