/* basic reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	/* borders and paddings aren't added to element's width, height */
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include respond(big-desktop) {
		font-size: 75%;
	}
	@include respond(tablet-h) {
		font-size: 56.5%;
	}
	@include respond(tablet-v) {
		font-size: 50.5%;
	}
	@include respond(phone) {
		font-size: 32.5%;
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include respond(tablet-v) {
		padding: 0;
	}
}

::selection {
	background-color: $color-primary;
	color: $color-white;
}